@import "../../variables.scss";

* {
  @extend .general
}

.memory-card{
  display: inline-table;
  margin: 5px;
  height: calc(120px - 10px);
  width: calc(100px - 10px);
  cursor: pointer;

 
}
.memory-card:hover{
  transform: scale(0.98);
}
.card-image{
  width: 100%; 
  height: calc(120px - 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: $secondary-colr;
  border-radius: 9px;
}

.the-card{
  position: absolute;
  width: 410px;
  height: 550px;
  transform-style: preserve-3d;
  transition: 2s;
}
.the-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #a15126;
  color:  $secondary-colr;
  border-radius: 45px;
}
.imgMsg{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.the-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#8d49257c;
  backface-visibility: hidden;
  padding: 50px;
  transform: rotatey(180deg);
  border-radius: 45px;
}
.titleMsg{
  width: 100%;
  height: 50px;
  font-size: 35px;
  font-family: $lora;
}
.pMsg{
  margin-top: 20px;
  font-size: 15px;
  padding: 5px;
  line-height: 1.4;
  color:  $secondary-colr;
  
}
.flipped{
  transform: rotateY(180deg);
}
.sorpresa{
  position: relative;
  width: 420px;
  height: 480px;
}
.theCardPpt{
  position: absolute;
  width: 410px;
  height: 540px;
  transform-style: preserve-3d;
  transition: 2s;
}
.theFrontPpt{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: $primary-color;
  color:  $secondary-colr;
  border-radius: 45px;
}
.imgMsg{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

