@import "../../variables.scss";

* {
  @extend .general
}

.header-container {
  background-color: #f8afa6;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 2px solid $secondary-colr;

  ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }

  li {
    margin-right: 10px;

    .link {
      color: $secondary-colr;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      padding: 10px;
      transition: 0.3s;
      font-size: 0.9em;
    }
    .link:hover{
     font-size: 1em;
     color: #ffffd5;
    }
  }
}