@import "../../variables.scss";

* {
  @extend .general
}
.main-container{
  position: relative;
  background-color: #fadbd9;
  min-height: 93vh;
  justify-content:space-around;
  align-items: center;
  display: flex;
  padding: 20px 50px ;
}
.cards-container{
  width: 410px;
  height: 490px;
  padding: 5px;
  border-radius: 10px;
/*   background-color: #37ddfa71 ; */
  position: relative;
  background-color: #8d49257c;
  margin-right: 300px;

}
.memory-text{
  padding: 9px;
}
.memory-title{
  width: 400px;
  text-align: center;
  font-family: $lora;
  font-size: 45px;
  color: $secondary-colr;

}
.memory-subTitle{
  font-size: 13px;
  font-family: $lora;
  color: $secondary-colr;

}
.informacion{
 /*  background-color:  #37ddfa71 ; */
  width: 230px;
  height: 267px;
  position: absolute;
  top: 120px;
  right: -230px;
  padding: 5px;
  background-color: #8d49257c;
  border-radius: 0 10px 10px 0;
}
.estadisticas{
  align-items: center;
  display: flex;
  border: 2px solid $secondary-colr;
  height: 123px;
  margin-bottom: 10px;
  padding: 20px;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  font-family: $lora;
  box-sizing: border-box;

}
.boxGuideA{
  width: 100%;
  height: 80px;
  color: #ffffd9;
  font-size: 24px;
  font-weight: 600;
  font-family: $lora;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-colr;
  border-radius: 5px ;
}
.container-word{
  padding: 30px;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}
.letters{
  font-size: 30px;
  color: $secondary-colr;
  
}
.line-letter{
  width: 30px;
  font-weight: 100;
  color: #fff;
  margin-right: 15px;
}
.container-hanged-btn{
  position: absolute;
  left: 20px;
  top: 250px;
  padding: 10px;

}
.hanged-letters{
  width: 37px;
  height: 37px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  color: $secondary-colr;
}
.hanged-letters:hover{
  transform: scale(1.2);
}
.reset-btn{
  position: absolute;
  top: 160px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  color: $secondary-colr;
  background-color: #ffffd9;
  left: calc(45% );
  cursor: pointer;
  letter-spacing: 2px;
}
.reset-btn:hover{
  color: #ffffd9;
  background-color: $secondary-colr;
}
.note{
  margin-top: 40px;
  margin-left: 10px;
  font-size: 16px;
  color: #fadbd9;
  & span{
    font-size: 20px;
    margin-left: 50px;
    color: $secondary-colr;
    background-color: #fadbd9;
    padding: 10px;
    border-radius: 10px;
    font-family: $lora;
    font-weight: 600;
  }
}
