@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@800&display=swap');

.general{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


/* FONT */
$lora: 'Lora', serif;
$open: 'Open Sans', sans-serif;

/* COLORS */

$primary-color: #f8afa6;
$secondary-colr: #8d4925;

